<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ genre?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button lines="full" [routerLink]="['/list/games/info', game.id]" *ngFor="let game of genre?.games">
      <ion-thumbnail slot="start">
          <img [alt]="game.title" [src]="game.cover" *ngIf="game.cover != null">
          <img alt="img not available" src="assets/img/na.png" *ngIf="game.cover == null">
        </ion-thumbnail>
        <ion-label>
          <h3>{{ game.title }}</h3>
          <p class="ion-text-wrap">{{ game.type }}</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>