<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'TAB_USER_GAMES' | translate }}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment [scrollable]="true" value="allGames">
        <ion-segment-button value="allGames" content-id="allGames">
          <ion-label>{{ 'USER_LIST_ALL' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="playingGames" content-id="playingGames">
          <ion-label>{{ 'USER_LIST_PLAYING' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="completedGames" content-id="completedGames">
          <ion-label>{{ 'USER_LIST_COMPLETED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="playedGames" content-id="playedGames">
          <ion-label>{{ 'USER_LIST_PLAYED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="onHoldGames" content-id="onHoldGames">
          <ion-label>{{ 'USER_LIST_ONHOLD' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="planToPlayGames" content-id="planToPlayGames">
          <ion-label>{{ 'USER_LIST_PLANTOPLAY' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="droppedGames" content-id="droppedGames">
          <ion-label>{{ 'USER_LIST_DROPPED' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline"></ion-refresher-content>
    </ion-refresher>
    <ion-segment-view>
      <!-- 1st segment (all games) -->
      <ion-segment-content id="allGames">
        <!-- playing -->
        <ion-list>
          <ion-list-header>{{ 'USER_LIST_PLAYING' | translate }}</ion-list-header>
          <ion-item-sliding *ngFor="let ug of playingGames">
            <ion-item class="playingGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <!-- completed -->
        <ion-list>
          <ion-list-header>{{ 'USER_LIST_COMPLETED' | translate }}</ion-list-header>
          <ion-item-sliding *ngFor="let ug of completedGames">
            <ion-item class="completedGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <!-- played -->
        <ion-list>
          <ion-list-header>{{ 'USER_LIST_PLAYED' | translate }}</ion-list-header>
          <ion-item-sliding *ngFor="let ug of playedGames">
            <ion-item class="playedGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <!-- on hold -->
        <ion-list>
          <ion-list-header>{{ 'USER_LIST_ONHOLD' | translate }}</ion-list-header>
          <ion-item-sliding *ngFor="let ug of onHoldGames">
            <ion-item class="onHoldGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <!-- plan to play -->
        <ion-list>
          <ion-list-header>{{ 'USER_LIST_PLANTOPLAY' | translate }}</ion-list-header>
          <ion-item-sliding *ngFor="let ug of planToPlayGames">
            <ion-item class="planToPlayGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <!-- dropped -->
        <ion-list>
          <ion-list-header>{{ 'USER_LIST_DROPPED' | translate }}</ion-list-header>
          <ion-item-sliding *ngFor="let ug of droppedGames">
            <ion-item class="droppedGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-segment-content>
      <!-- 2nd segment (playing) -->
      <ion-segment-content id="playingGames">
        <ion-list>
          <ion-item-sliding *ngFor="let ug of playingGames">
            <ion-item class="playingGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-segment-content>
      <!-- 3rd segment (completed) -->
      <ion-segment-content id="completedGames">
        <ion-list>
          <ion-item-sliding *ngFor="let ug of completedGames">
            <ion-item class="completedGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-segment-content>
      <!-- 4th segment (played) -->
      <ion-segment-content id="playedGames">
        <ion-list>
          <ion-item-sliding *ngFor="let ug of playedGames">
            <ion-item class="playedGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-segment-content>
      <!-- 5th segment (on hold) -->
      <ion-segment-content id="onHoldGames">
        <ion-list>
          <ion-item-sliding *ngFor="let ug of onHoldGames">
            <ion-item class="onHoldGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-segment-content>
      <!-- 6th segment (plan to play) -->
      <ion-segment-content id="planToPlayGames">
        <ion-list>
          <ion-item-sliding *ngFor="let ug of planToPlayGames">
            <ion-item class="planToPlayGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-segment-content>
      <!-- 7th segment (dropped) -->
      <ion-segment-content id="droppedGames">
        <ion-list>
          <ion-item-sliding *ngFor="let ug of droppedGames">
            <ion-item class="droppedGames" button lines="full" [routerLink]="['/list/games/info', ug.game.id]" routerDirection="forward">
              <ion-thumbnail slot="start">
                <img [alt]="ug.game.cover" [src]="ug.game.cover" *ngIf="ug.game.cover != null">
                <img alt="img not available" src="assets/img/na.png" *ngIf="ug.game.cover == null">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ ug.game.title }}</h3>
                <p>{{ ug.game.type }}</p>
                <p *ngIf="ug.score != null">{{ ug.score }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="goToUpdatePage(ug.game.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="delete(ug.game.id)">
                <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-segment-content>
    </ion-segment-view>
  </ion-content>
</div>