<ion-menu contentId="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">{{ 'TITLE_MENU' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>{{ 'TITLE_PAGES' | translate }}</ion-list-header>
      <ion-item button *ngFor="let p of pagesPages" lines="none">
        <ion-icon [name]="p.icon" slot="start"></ion-icon>
        <ion-label>{{ p.title | translate }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>{{ 'TITLE_TABS' | translate }}</ion-list-header>
      <ion-item button *ngFor="let p of tabsPages" lines="none">
        <ion-icon [name]="p.icon" slot="start"></ion-icon>
        <ion-label>{{ p.title | translate }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>{{ 'TITLE_APP' | translate }}</ion-list-header>
      <ion-item button *ngFor="let p of appPages" lines="none">
        <ion-icon [name]="p.icon" slot="start"></ion-icon>
        <ion-label>{{ p.title | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="mainContent">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'TAB_HOME' | translate }}</ion-title>
    </ion-toolbar>
    <ion-toolbar no-border-top>
      <ion-segment [scrollable]="true" value="recentlyAdded">
        <ion-segment-button value="recentlyAdded" content-id="recentlyAdded">
          <ion-label>{{ 'TITLE_RECENTLYADDED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="topRated" content-id="topRated">
          <ion-label>{{ 'TITLE_TOPRATED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mostPopular" content-id="mostPopular">
          <ion-label>{{ 'TITLE_MOSTPOPULAR' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 1</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-content>
</div>