<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'TAB_HOME' | translate }}</ion-title>
    </ion-toolbar>
    <ion-toolbar no-border-top>
      <ion-segment [scrollable]="true" value="recentlyAdded">
        <ion-segment-button value="recentlyAdded" content-id="recentlyAdded">
          <ion-label>{{ 'TITLE_RECENTLYADDED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="topRated" content-id="topRated">
          <ion-label>{{ 'TITLE_TOPRATED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mostPopular" content-id="mostPopular">
          <ion-label>{{ 'TITLE_MOSTPOPULAR' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-segment-view>
      <ion-segment-content id="recentlyAdded">
        <ion-list>
          <ion-item button lines="full" [routerLink]="['/list/games/info', game.id]" routerDirection="forward" *ngFor="let game of recentlyAddedGames">
            <ion-thumbnail slot="start">
              <img [alt]="game.title" [src]="game.cover" *ngIf="game.cover != null">
              <img alt="img not available" src="assets/img/na.png" *ngIf="game.cover == null">
            </ion-thumbnail>
            <ion-label>
              <h3>{{ game.title }}</h3>
              <p class="ion-text-wrap">{{ game.type }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-segment-content>
      <ion-segment-content id="topRated">
        <ion-list>
          <ion-item button lines="full" [routerLink]="['/list/games/info', game.id]" routerDirection="forward" *ngFor="let game of topRatedGames">
            <ion-thumbnail slot="start">
              <img [alt]="game.title" [src]="game.cover" *ngIf="game.cover != null">
              <img alt="img not available" src="assets/img/na.png" *ngIf="game.cover == null">
            </ion-thumbnail>
            <ion-label>
              <h3>{{ game.title }}</h3>
              <p class="ion-text-wrap">{{ game.type }}</p>
              <p class="ion-text-wrap">{{ 'LABEL_COMMUNITYSCORE' | translate }}: {{ game.averageScore }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-segment-content>
      <ion-segment-content id="mostPopular">
        <ion-list>
          <ion-item button lines="full" [routerLink]="['/list/games/info', game.id]" routerDirection="forward" *ngFor="let game of mostPopularGames">
            <ion-thumbnail slot="start">
              <img [alt]="game.title" [src]="game.cover" *ngIf="game.cover != null">
              <img alt="img not available" src="assets/img/na.png" *ngIf="game.cover == null">
            </ion-thumbnail>
            <ion-label>
              <h3>{{ game.title }}</h3>
              <p class="ion-text-wrap">{{ game.type }}</p>
              <p class="ion-text-wrap">{{ 'LABEL_POPULARITY' | translate }}: {{ game.popularity }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-segment-content>
    </ion-segment-view>
  </ion-content>
</div>