<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'TITLE_FAIRUSE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-text-justify">{{ 'FAIRUSE_DESCRIPTION' | translate }}</p>
  <p class="ion-text-justify">{{ 'FAIRUSE_DESCRIPTION_2' | translate }}</p>
  <p class="ion-text-justify">{{ 'FAIRUSE_DESCRIPTION_3' | translate }}</p>
  <p class="ion-text-justify">{{ 'FAIRUSE_DESCRIPTION_4' | translate }}</p>
</ion-content>