<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'PAGE_GAMES' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item button lines="full" *ngFor="let game of games">
        <ion-thumbnail slot="start">
          <img [alt]="game.cover" [src]="game.cover" *ngIf="game.cover != null">
          <img alt="img not available" src="assets/img/na.png" *ngIf="game.cover == null">
        </ion-thumbnail>
        <ion-label>
          <h3>{{ game.title }}</h3>
          <p class="ion-text-wrap">{{ game.type }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>