<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'TITLE_LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-input label="{{ 'LABEL_EMAIL' | translate }}*" labelPlacement="floating" [(ngModel)]="email" [clearInput]="true" debounce="500" inputmode="email" type="email" required="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input label="{{ 'LABEL_PASSWORD' | translate }}*" labelPlacement="floating" [(ngModel)]="password" [clearInput]="true" debounce="500" inputmode="text" type="password" required="true"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)="login()">{{ 'ACTION_LOGIN' | translate }}</ion-button>
    <ion-button expand="block" color="medium" fill="outline" [routerLink]="['/auth/signup']" routerDirection="forward">{{ 'ACTION_SIGNUP' | translate }}</ion-button>
  </div>
</ion-content>