<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'TITLE_LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-input label="{{ 'LABEL_EMAIL' | translate }}" labelPlacement="floating" [counter]="true" maxLength="100" [clearInput]="true" debounce="500" type="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input label="{{ 'LABEL_PASSWORD' | translate }}" labelPlacement="floating" [clearInput]="true" debounce="500" type="password"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>