<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'TAB_PROFILE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="ion-padding">
      <ion-button expand="block" color="danger" fill="outline" (click)="logOut()">{{ 'ACTION_LOGOUT' | translate }}</ion-button>
    </div>
  </ion-content>
</div>